* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: bold 700;
    color: #333;
    display: block;
}

.hero-image-area {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("paula-may-_DocR2F7HIs-unsplash.jpg");
    max-height: 50%;
    height: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;

}

.hero-text-area {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    letter-spacing: 2.5;
}
.flex-container {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.flex-container>div {

    width: 200px;
    height: 200px;
    margin: 5px;
    text-align: center;
    margin-top: 10px;

    box-shadow:
        inset 0 -3em 3em rgba(0, 0, 0, 0.1),
        0 0 0 2px rgb(255, 255, 255),
        0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

    background-image: url("map_image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

/*.flex-container {
    border: 2px solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}*/
.input_wrapper {
    

    background-color: white;
    /*background-color: #fbc531;*/
    height: 40px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px

}
.input_zone{
    display: flex;
    flex-direction: column;
}

.input {
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    font-size: 16px; 

}

.searchbtn {
    background-color: #fbc531;
    color: black;
    float: right;
    text-decoration: none;
    width: 40px;
    height: 40px;
    padding:0px;
    text-align: center;
    margin: -10px;
    border: none;

}

.searchbtn:hover {
    background-color: #fbc531;
    box-shadow: 0px 15px 20px rgb(46, 229, 157, 0.4);
    color: #fff;

}

/* INPUT and TOTAL COUNTRY NUMBER*/
.countCntr {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;
    
    
}
/*Input styling*/
.headerNumber {
    
    border: none;
    outline: none;
    background: none;
    margin-bottom: -5px;
    padding-left:5px;
   
    font-size: 16px;
    font-weight: bold;
    color: #fbc531;
    width : 60px
   
}

/* 2nd button*/

.input1 {
    border: none;
    outline: none;
    background: none;
    float: left;
    padding: 0;
    font-size: 16px;
   
}

.searchbtn1 {
    background-color: #fbc531;
    color: black;
    float: right;
    text-decoration: none;
    width: 40px;
    height: 40px;
    padding:0px;
    text-align: center;

    margin: -10px;
    border: none;


}

.searchbtn1:hover {
    background-color: #fbc531;
    box-shadow: 0px 15px 20px rgb(46, 229, 157, 0.4);
    color: #fff;

}
.sortBtn{
    background-color: #fbc531;
    color: black;
    float: right;  
    width: 40px;
    height: 40px;
    text-align: center;
    border: none;
    margin-bottom: 5px;
    
    
} 

.sortBtn:hover {
    background-color: #fbc531;
    box-shadow: 0px 15px 20px rgb(46, 229, 157, 0.4);
    color: #fff;

}
.countries-sort__paragraph{
    margin: 16px 0px;
    
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
.paragraph {
    display: flex;
}
.text{
    display:flex
}


@media only screen and (max-width: 600px) {
    .sortBtn {
    margin-top: 10px;
    margin-bottom:5px
    }

    .searchbtn {
        margin: 0px; 
        margin-top:-28px;
        margin-right:-10px;   
    }
    .searchbtn1{
        margin: 0px; 
        margin-top:-28px;
        margin-right:-10px;  
    }
  
    h1{
     
        font-size: 25px;
        margin:0px;
        padding-bottom:20px;
        letter-spacing: 2.5;
        }
    
    .countries-sort__paragraph{
        font-size: 12px;
       margin-top: 5px;
       margin-bottom: 5px

    }
    .paragraph{
        font-size: 12px;
        display:flex;
        align-items: flex-end;
        margin-bottom:5px;
        margin-top: 0px

    
    }

    .text{
        margin: 0px;

    }
}